@page "/"
@inject GameLogic gameInfo

<PageTitle>Hungry Game</PageTitle>

<div class="page-header">
    <h1 class="game-title">Hungry Game</h1>
    <div class="nav-links">
        <a href="help">Help / API Docs</a>
        <a href="swagger">Swagger</a>
        <a href="player">Web Player</a>
    </div>
</div>

<CascadingValue Value=SharedState>
    <CurrentGameState />

    <div class="game-layout mt-3">
        @if (gameInfo.IsGameStarted)
        {
            if (gameInfo.IsGameOver)
            {
                <div class="game-main">
                    <div class="game-over-panel">
                        <div class="game-over-text">Game Over</div>
                    </div>
                </div>
                <div class="game-sidebar">
                    <ResetGame />
                    <PlayerList />
                </div>
            }
            else
            {
                <div class="game-main">
                    <Board />
                </div>
                <div class="game-sidebar">
                    @if (gameInfo.IsGameStarted)
                    {
                        <ResetGame />
                    }
                    <PlayerList />
                </div>
            }
        }
        else
        {
            <div class="game-main">
                <StartGame />
            </div>
            <div class="game-sidebar">
                <PlayerList />
            </div>
        }
    </div>
</CascadingValue>

@code
{
    public SharedStateClass SharedState { get; set; } = new();

    protected override void OnInitialized()
    {
        gameInfo.GameStateChanged += (_, _) => InvokeAsync(() => StateHasChanged());
    }
}
