@page "/player"

<PageTitle>Player - Hungry Game</PageTitle>

<div class="page-header">
    <h1 class="game-title">Player</h1>
    <div class="nav-links">
        <a href="/">Back to Game</a>
    </div>
</div>

<AddPlayer />
