@inject ViewerInfo gameInfo
@inject IJSRuntime JS

<p id="boardInfo"></p>

<div style="width:100%;height:80vh;">
    <canvas id="boardCanvas" style="width:100%;height:100%;display:block;"></canvas>
</div>

@code
{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("initBoard", "boardCanvas", gameInfo.Server);
        }
    }
}
