@inject GameLogic gameInfo

<div class="reset-panel">
    @if (SharedState.IsAdmin)
    {
        <button class="btn btn-secondary w-100" @onclick="resetAsAdmin">Reset Game</button>
    }
    else if (isVisible)
    {
        <a class="reset-toggle" @onclick="toggleVisibility">Reset Game &#x25B2;</a>
        <form class="mt-3">
            <input type="password" @ref="codeRef" placeholder="password" @bind-value=secretCode size="4" class="form-control" />
            <button type="submit" class="btn btn-secondary mt-2 w-100" @onclick="reset">Reset</button>
        </form>
    }
    else
    {
        <a class="reset-toggle" @ref="codeRef" @onclick="toggleVisibility">Reset Game &#x25BC;</a>
    }
</div>

@code {
    private string? secretCode;
    private ElementReference codeRef;

    [CascadingParameter]
    public SharedStateClass SharedState { get; set; }

    private void reset()
    {
        if (secretCode != null)
            gameInfo.ResetGame(secretCode);
    }

    private void resetAsAdmin()
    {
        gameInfo.ResetGame(SharedState.AdminPassword);
    }

    private bool isVisible = false;
    private void toggleVisibility()
    {
        isVisible = !isVisible;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (isVisible)
        {
            await codeRef.FocusAsync();
        }
    }
}
