@code {
    [CascadingParameter]
    public GameLogic gameInfo { get; set; } = default!;

    [CascadingParameter]
    public SharedStateClass SharedState { get; set; } = default!;

    private void StartGame()
    {
        if (SharedState.CanManage)
            gameInfo.StartGame();
    }
}

@if (SharedState.CanManage && !gameInfo.IsGameStarted)
{
    <button class="btn btn-primary w-100" @onclick="StartGame">Launch Game</button>
}
